    body{
        font-family: 'Quicksand', sans-serif;
    }
   .chakra-ui-dark{
    color: $dark-ui-color;
    background-color: $dark-bg;
    font-family: 'Quicksand', sans-serif;
   
   }

   .chakra-ui-light{
    color: $light-ui-color;
    background-color: $light-bg;
    font-family: 'Quicksand', sans-serif;
   }


   .main-sec{
    margin: 0 auto;
        .add-task-form{
            margin: 0 auto;
            width: 300px;
            .chakra-button{
            width: 30px;
            }
        }
        .main-stack{
            margin: 0 auto;
            margin-top: 2rem;
        }
        .delete-all-btn{
            margin: 0 auto;
            margin-top: 2rem;
            text-align: center;
        }
   }

   @media (min-width: 600px) {
     .main-sec{
        .add-task-form{
            width: 500px;
        }
        
     }
   }